<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Restaurant Apps</title>
  <script src="https://unpkg.com/@phosphor-icons/web"></script>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <a href="#main" class="skip-link">Skip to main content</a>
  
  <app-bar></app-bar>

  <div class="slides">
    <div class="slide">
      <img src="./images/heros/hero-image_1.jpg" alt="Hero Image 1">
    </div>
    <div class="slide">
      <img src="./images/heros/hero-image_2.jpg" alt="Hero Image 2">
    </div>
    <div class="slide">
      <img src="./images/heros/hero-image_3.jpg" alt="Hero Image 3">
    </div>
    <div class="slide">
      <img src="./images/heros/hero-image_4.jpg" alt="Hero Image 4">
    </div>
    <div class="navigation">
      <a class = "prev" onclick = "plusSlides(-1)">&#10094;</a>
      <a class = "next" onclick = "plusSlides(-1)">&#10095;</a>
    </div>
  </div>


  <main role="main" id="main">
    <div class="content" tabindex="0">
      <h1>Welcome to Our Restaurant</h1>
    </div>

    <div id="restaurant-list" class="restaurant-container" tabindex="0">
    </div>
  </main>

  <custom-footer></custom-footer>

  <script>
    var slideIndex = 1;
    showSlides(slideIndex);

    function plusSlides(n) {
      showSlides(slideIndex += n);
    }

    function showSlides(n) {
      var i;
      var slides = document.getElementsByClassName("slide");
      if (n > slides.length)
      {
        slideIndex = 1;
      }
      if (n < 1)
      {
        slideIndex = slides.length
      }
      for (i = 0; i < slides.length; i++)
      {
        slides[i].style.display = "none";
      }
      slides[slideIndex-1].style.display = "block";
    }
  </script>

  <script src="app.js"></script>
</body>
</html>
